<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.exercicios">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExerciciosPersistencia">
        <activity android:name=".activity.EditNoteActivity"></activity>
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.UserActivity" />
        <activity android:name=".activity.NewNoteActivity" />
        <activity android:name=".activity.Ex04Activity" />
        <activity android:name=".activity.Ex03Activity" />
        <activity android:name=".activity.Ex02Activity" />
        <activity android:name=".activity.Ex01Activity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>